.label {
    color: brown;
    text-align: center;
    font-size: 60px;
    padding-top: 10px;
}
.logo {
    width: 60px;
    margin-left: 48%;

}
.alignment {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    background-color: rgb(15, 13, 13);
    border-radius: 20px;
}

.intro {
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
}

#header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    size: 100px;
    font-size: 100px;
    height: 120px;
    color: green;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.images{
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 25px;
    background-color: green;
    min-width: 470px;
    min-height: 300px;
    align-content: center;
}

.images:hover {
    opacity: 0.7;
    cursor: pointer;
}

#last {
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: green;
    justify-items: center;
    justify-content: center;
}

#sender {
    margin-left: 42%;
    margin-right: auto;
}

#sub {
    border: transparent;
    background-color: black;
    height: 80px;
    width: 150px;
    border-radius: 20px;
    color: blanchedalmond;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: whitesmoke;
}

.outro {
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
}

.dance {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.outrologo{
    width: 60px;
    margin-left: 48%;
    margin-top: -50px;
}

.logo2 {
    text-align: center;
    margin-top: -40px;
}